@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|PT+Sans|Work+Sans');

/* modals CSS */
#regContainer, #logContainer{
    padding: 2%;
}

.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}

.modal-title {
    font-weight: bold;
    font-size: 24px;
}

.modal-header {
    font-family: 'Work Sans', sans-serif;
}

#register-form {
    margin: 0px;
}

#register-form input, #login-form input, .modal-content {
    border-radius: 0;
}

#reg-close, #log-close {
    width: 30px;
    height: 30px;
}

#login-form label, #register-form label {
    font-weight: bold;
    font-size: 18px;
    color: var(--gray-dark);
    padding: 0%;
    margin-bottom: 0px;
}

#reg-close, #log-close, #reg-close-btn, #log-close-btn{
    background: var(--white);
    border: none;
}

.panel-login {
    border: none;
}

.panel-login>.panel-heading {
    text-align:center;
}

.panel-login>.panel-heading a{
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active{
    font-size: 34px;
}

.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: none;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover, .panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-login {
    background-color:var(--coral);
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: var(--coral);
}

.btn-login:hover, .btn-login:focus {
    color: #fff;
    background-color: var(--navy);
    border-color: var(--navy);
}

.btn-register {
    background-color: var(--coral);
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: var(--coral);
}

.btn-register:hover, .btn-register:focus {
    color: #fff;
    background-color: var(--navy);
    border-color: var(--navy);
}

hr {
    margin: 0rem 0rem 2rem 0rem;
}

/* recent listings CSS */
#where, #guests {
    height: 49px;
}

#recent-listings-container{
    margin-left: 1rem;
    background: var(--white);
}

#recent-listings-container h2 {
    font-family: 'Work Sans', sans-serif;
}

#recent-listings-container p {
    font-family: 'PT Sans', sans-serif;
}

#search-field {
    background: var(--white);
}

.card-img-top {
    width: 318px;
    height: 212px;
}

#cards1, #cards2 {
    display: inline-block;
    width: 100%;
    height: 25%;
    padding-left: 2%;
}

.card {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 20rem;

}

#footer {
    border: none;
}

#overlay {
    text-align: center;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}
  
/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    margin-top: 8px;
    margin-right: 3px;
    pointer-events: none;
}
  
/* align glyph */
.left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}
  
/* add padding  */
.left-addon input  { 
    padding-left:  30px; 
}

.right-addon input { 
    padding-right: 30px; 
}

body {
    margin: 10px;
  }

/* home-search CSS */
#home-landing-search {
    visibility: hidden;
}