<nav id="listings-nav" class="navbar navbar-toggleable navbar-light">    
  <div class="justify-content-between collapse navbar-collapse" id="navbarSupportedContent">
    <div class="col">
      <a class="navbar-brand" href="#">
          <img class="img-fluid" id="header-logo" alt="Brand" src="assets/airbnbLogo.png">
      </a>
    </div>
    <div id="nav-form-search" class="col-9">
      <form class="align-middle form-inline">
        <div class="form-row">
            <input id="search-field" type="text" class="form-control" name="home-search" placeholder="Try 'San Francisco'">
            <button id="home-landing-search" class="btn btn-outline-success" type="submit" style="display: none;">Search</button>
        </div>
      </form>
    </div>
    <div class="col-2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/account']">Kevin's Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/listings']">Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr>
  
  <div id="listing-container" class="container container-fluid">
    <div class="row">
      <h2>Most recent listings</h2>
    </div>
    <div class="home-row row">
      <div id="recent-listings" class="col-md" *ngFor="let l of recentListings">
        <img class="img img-fluid img-thumbnail" id="recent-result-image" src="{{ l.image }}">
        <h4><a [routerLink]="[l._id]">{{ l.title }}</a></h4>
        <li>{{ l.price | currency:'USD':true }}</li>
        <li>{{ l.roomType }}</li>
      </div>
    </div>
    <hr>
    <div class="row">
      <h2>Search results</h2>
    </div>
    <div class="home-row row">
      <div id="search-results" class="col-md" *ngFor="let result of searchListings">
        <img class="img img-fluid img-thumbnail" id="search-result-image" src="{{ result.image }}">
        <h4><a [routerLink]="[result._id]">{{ result.title }}</a></h4>
        <li>{{ result.price | currency:'USD':true }}</li>
        <li>{{ result.roomType }}</li>
      </div>
    </div>
  </div>