<div id="nav-container" class="container-fluid">
  <nav id="top-nav" class="navbar navbar-toggleable navbar-light">
    <div class="justify-content-between collapse navbar-collapse">
      <div class="row">
        <div id="header-img-div" class="col my-auto">
          <a class="navbar-brand" href="#">
            <img class="img-fluid" id="header-logo" alt="Brand" src="assets/airbnbLogo.png">
          </a>
        </div>
        <div class="col my-auto" id="nav-form-search">
          <form id="top-search-form" class="align-middle form-inline">
            <div class="form-row">
              <input id="search-field" type="text" class="form-control" name="home-search" placeholder="Search">
              <button id="listing-search" class="btn btn-outline-success" type="submit" style="display: none;">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-3">
        <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['/host']">Become a Host</a>
          <a class="nav-item nav-link" [routerLink]="['/listings']">Listings</a>
          <a class="nav-item nav-link">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <hr>
  </div>
  <div id="" class="container container-fluid">
    <div class="row">
      <div class="col-3">
        <nav id="inside-nav" class="navbar navbar-toggleable navbar-light">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a [routerLink]="" (click)="switchProfile()" id="toggle-profile">Profile Settings</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="" (click)="switchListing()" id="toggle-listings">Your Listings</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="" (click)="switchMessages()" id="toggle-messages">Your Messages</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="" (click)="switchReserves()" id="toggle-reserves">Your Reservations</a>
            </li>
          </ul>
        </nav>
        <a>
          <button id="profile-button" type="button" [routerLink]="['/profile']" class="btn btn-outline-primary btn-lg btn-block">View Profile</button>
        </a>
      </div>
      <div class="col-md">
        <app-dash-listings *ngIf="viewListings"></app-dash-listings>
        <app-dash-messages *ngIf="viewMessages"></app-dash-messages>
        <app-dash-profile *ngIf="viewProfile"></app-dash-profile>
        <app-dash-reserves *ngIf="viewReserves"></app-dash-reserves>
      </div>
    </div>
  </div>

  <!-- 
</div>

<div *ngIf="listingDiv === true" class="form-edit">
<h3>Listings You've Posted</h3>
<hr>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Reservations</th>
      <th>Reviews</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listings">
      <td>{{ item.title }}</td>
      <td>{{ item.location }}</td>
      <td>{{ item.reservations }}</td>
      <td>{{ item.reviews }}</td>
    </tr>
  </tbody>
</table>
</div>

<div *ngIf="trips === true" class="form-edit">
<h3>Trips You've Booked</h3>
<hr>
<table class="table table-responsive">
    <thead>
      <tr>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Number of Guests</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of reservations">
        <td>{{ item._listing.title }}</td>
        <td>{{ item.startDate | date: 'mediumDate' }}</td>
        <td>{{ item.endDate | date: 'mediumDate' }}</td>
        <td>{{ item.amtGuests }}</td>
      </tr>
    </tbody>
  </table> -->