<h3>Edit Profile</h3>
<h4>Required Information:</h4>
<hr>
<form >
  First Name: <input type="text" name="firstName" placeholder="Update your first name"><br><br>
  Last Name: <input type="text" name="lastName" placeholder="Update your last name"><br><br>
  Email: <input type="email" name="firstName" placeholder="Update your email"><br><br>
  Password: <input type="password" name="firstName" placeholder="Update your password"><br><br>
  Confirm new password: <input type="password" name="firstName" placeholder="Confirm updated password"><br><br>
  Phone number: <input type="tel" name="firstName" placeholder="Update your phone number"><br><br>
  <input type="submit" value="Save">
</form>