@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|PT+Sans|Work+Sans');

#listings-instant-book {
    /* border: 1px solid var(--secondary); */
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
}

#instant-book-form {
    border: 1px solid var(--secondary);
    padding: 1rem;
}

#instant-book-form select {
    margin: 0 1rem;
    border-radius: 0;
}

#instant-book-form input[type="date"] {
    border-radius: 0;
}

#instant-book-form label {
    font-size: 12px;
    margin: 0;
}

#check-in-out {
    /* margin-right: 1rem;
    margin-left: 1rem; */
    padding: 1rem;
    border-radius: 0;
}

/* ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
} */

input::-webkit-datetime-edit{ color: transparent; }

.btn-register {
    background-color: var(--coral);
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    border-color: var(--coral);
}

#form-submit {
    margin: 1rem;
    background-color: var(--coral);
    color: white;
    font-size: 20px;
}

#listing-search-submit {
    display: none;
}

#review-div {
    padding: 0;
}

#test-img {
    width: 100%;
    height:700px;
    margin: 0 0 1rem 0;
    padding: 0;
}

#footer {
    border: none;
}

h2, h3, p {
    font-family: 'Work Sans', sans-serif;
}

#title-col-img {
    width: 50px;
    height: 50px;
}

#review-user-img {
    width: 40px;
    height: 40px;
}

.font-weight-light {
    padding-right: 1rem;
    font-size: 16px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.svg-inline--fa {
    margin-right: 0.1em;
}

